[submodule "minecraft-banlist"]
	path = minecraft-banlist
	url = https://gitee.com/ruofengx/minecraft-banlist
[submodule "fetch-paper-api"]
	path = fetch-paper-api
	url = https://gitee.com/ruofengx/fetch-paper-api.git
